<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pause.sip.younsukkoh.pause">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_brown"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeActionBar">
        <activity android:name=".MainActivity"></activity>

        <activity android:name=".login.CreateAccountActivity01"></activity>
        <activity android:name=".login.CreateAccountActivity02"></activity>
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>